body{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.papa2{
    position: absolute;
    padding-top: 15vh;
    height: 100vh;
    overflow-y: scroll;
    bottom: 0;
}
.header{
    z-index: 100000;
}
.papa2::after {
    content: " ";
    position: fixed;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    box-shadow: inset #e2e2e2 0vh 20vh 7vh -8vh;
    z-index: 1000;
}
.papa2::-webkit-scrollbar{display: none;}

.foto{
    background-color: #212121;
    aspect-ratio: 1 / 1;
    height: 8vh;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2vh;
    border-radius: 100vw;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    user-select: none;
}
.foto img{
    width: 100%;
}
.redact_foto{
    position: absolute;
    background-color: rgba(45, 45, 45, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 3vh;
    transform: rotateZ(348deg);
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    z-index: 100;
}
.redact_foto:hover{opacity: 1; cursor: pointer;}